<section class="general-info profile-tab-content" ng-show="GeneralInfo.showEditGeneral">
  <edit-general form-data="GeneralInfo.user" show-state="GeneralInfo.showEditGeneral"></edit-general>
</section>
<section class="general-info profile-tab-content" ng-show="GeneralInfo.showEditPrefs">
  <edit-preferences form-data="GeneralInfo.user" show-state="GeneralInfo.showEditPrefs"></edit-preferences>
</section>
<section class="general-info profile-tab-content" ng-hide="GeneralInfo.showEditGeneral || GeneralInfo.showEditPrefs">
  <div class="tab-sub-section">
    <a class="edit-button pull-right" ng-click="GeneralInfo.showEditGeneral = true"><span class="edit-button-text">Edit</span><span class="glyphicon glyphicon-pencil"></span></a>
    <h3>Household Information</h3>
    <div class="row">
      <div class="col-sm-6">
        <div><b>Address:&nbsp;</b>{{GeneralInfo.user.address}}</div>
        <div><b>Primary Phone:&nbsp;</b>{{GeneralInfo.user.phone1}}</div>
        <div><b>Primary Email:&nbsp;</b>{{GeneralInfo.user.email1}}</div>
        <div><b>Alternate Phone:&nbsp;</b>{{GeneralInfo.user.phone2}}</div>
        <div><b>Alternate Email:&nbsp;</b>{{GeneralInfo.user.email2}}</div>
      </div>
      <div class="col-sm-6">
        <div> <b>Type of Home:&nbsp;</b>{{GeneralInfo.user.homeType}}</div>
        <div><b>Provider Number:&nbsp;</b>{{GeneralInfo.user.providerNum}}</div>
        <div><b>Insurance:&nbsp;</b>{{GeneralInfo.user.insurance}}</div>
      </div>
    </div>
  </div>
  <div class="tab-sub-section">
    <a class="edit-button pull-right" ng-click="GeneralInfo.showEditPrefs = true"><span class="edit-button-text">Edit</span><span class="glyphicon glyphicon-pencil"></span></a>
    <h3>Household Preferences</h3>
    <div class="row">
      <div class="col-sm-6">
        <div><b>Genders:&nbsp;</b>{{GeneralInfo.user.prefGender}}</div>
        <div><b>Age Range:&nbsp;</b>{{GeneralInfo.user.prefAge}}</div>
        <div><b>Number of Children:&nbsp;</b>{{GeneralInfo.user.prefNumChildren}}</div>
      </div>
      <div class="col-sm-6">
        <div><b>Unable to accommodate:&nbsp;</b>{{GeneralInfo.user.prefUnable}}</div>
        <div><b>Languages:&nbsp;</b>{{GeneralInfo.user.prefLanguages}}</div>
      </div>
    </div>
  </div>
  <div class="tab-sub-section">
    <h3>Household Services Offered</h3>
    <ul>
      <li ng-repeat="service in GeneralInfo.services">
        {{service}}
      </li>
    </ul>
  </div>
  <div class="tab-sub-section">
    <h3>Household Certificiations Offered</h3>
    <ul>
      <li ng-repeat="cert in GeneralInfo.certifications">
        {{cert}}
      </li>
    </ul>
  </div>
</section>
