.drug-tabs {
  border-bottom: solid 1px $gray;
  margin-top: 20px;
  div {
    display: inline-block;
    margin-right: 30px;
  }
  a {
    font-weight: 500;
    color: $fontGray;
  }

  a.pregnancy{
    content: 'Pregnancy & BreastFeeding';
  }

  .active a {
    color: $darkTeal;
    text-decoration: underline;
  }
}
