.drug-tabs {
  > div {

    padding:0  10px; 
  }
  border-bottom: solid 1px $gray;
  margin-top: 20px;
  div {
    display: inline-block;
    margin-right: 30px;
  }
  a {
    font-weight: 500;
    color: $fontGray;
  }

  a.pregnancy{
    content: 'Pregnancy & BreastFeeding';
  }

  .active {
    border-bottom: solid $blue;
    a {
      color: $darkTeal;
    }
  }
}
