<div class="drug-tabs">
  <div tabindex="100" ui-sref-active="active">
    <a class="hidden-xs" ui-sref="main.myFamily.generalInfo">General Information</a>
    <a class="visible-xs" ui-sref="main.myFamily.generalInfo">General</a>
  </div>
  <div tabindex="101" ui-sref-active="active">
    <a class="hidden-xs" ui-sref="main.myFamily.householdMembers">Household Members</a>
    <a class="visible-xs" ui-sref="main.myFamily.householdMembers">Household</a>
  </div>
  <div tabindex="102" ui-sref-active="active">
    <a class="hidden-xs" ui-sref="main.myFamily.children">Children Under Your Care</a>
    <a class="visible-xs" ui-sref="main.myFamily.children">Children</a>
  </div>
</div>
