<div class="home">
  <div class="bg-image">
    <app-section class="text-center">
      <h1 class="bold text-white">There will be a big headline here</h1>
      <h3>There will be a subheader here.</h3>
      <!-- <hr class="thickest"> -->
    </app-section>
  </div>
  <app-section class="bg-dark-blue how-it-works">
    <div class="row extra-margin-top">
      <div class="col-sm-5 hidden-xs">
        <img src="../images/beach-boy.png">
        </img>
      </div>
      <div class="col-sm-7">
          <h3 class="text-dark-orange">Headline Goes Here</h3>
          <h4 class="text-light-aqua">Subheader Goes Here</h3>
          <p class="text-white">
            In non pellentesque lorem, in sollicitudin ipsum. Duis dictum vestibulum nunc ac interdum. Cras cursus, lorem vulputate auctor scelerisque, ipsum est sagittis metus, in tempus diam ipsum eu magna.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn rex-button clear-button" ui-sref="main.login">Sign In</button>

            </div>
            <div class="col-sm-6">
              <button type="button" class="btn rex-button clear-button" ui-sref="main.login">Create Account</button>

            </div>
          </div>

      </div>
    </div>
  </app-section>
</div>
