<div class="home">
  <div class="bg-image">
    <app-section class="text-center">
      <h3>What's in your medicine cabinet?</h3>

      <h2 class="boldest text-teal">Ask ReX.</h2>
      <hr class="thickest">
    </app-section>
  </div>
  <app-section class="bg-pills">
    <div class="row">
      <div class="col-sm-12">
        <ui-gmap-google-map center='HomeCtrl.map.center' zoom='map.zoom'>
          <ui-gmap-marker coords="HomeCtrl.marker.coords" idKey="HomeCtrl.marker.idKey"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </app-section>
</div>
