node_modules
coverage
dist
.tmp
.sass-cache
bower_components
.idea
.DS_Store
._.DS_Store
npm-debug.log
server/auth/sessions/*.json
server/db/database.sqlite3
server/settings.json
doc/client
doc/server
