<md-dialog class="rex-modal welcome-modal" role="dialog">
  <md-dialog-content>
    {{test}}
    <h4>
      Welcome to CaliCares!

    </h4>
    <br>
    <p>
      Use CaliCares to manage your family profile information, imported from the Child Welfare Services Case Management system with your log-in ID. Remember to keep your information up to date!
    </p>

    <md-dialog-actions class="row">
      <div class="col-xs-12">
        <button type="button" class="btn rex-button" ng-click="closeDialog()">Okay</button>
      </div>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
