<div>
  <section class="inbox-msg">
    <h3>{{messages[num].subject}}</h3>
    <p><span class="bold">From: </span>{{messages[num].from}}</p>
    <p><span class="bold">To: </span>{{messages[num].to}}</p>
    <p><span class="bold">Sent: </span>{{messages[num].dateCreated}}</p>
    <p ng-bind-html="messages[num].message"></p>
    <p class="convo-history" ng-click="toggleHistory()"><span class="bold">Show conversation history </span><i class="glyphicon" ng-class="{'glyphicon-chevron-up': showHistory, 'glyphicon-chevron-down': !showHistory}"></i></p>
    <hr class="subtle">
    <div ng-repeat="msg in messages[num].previousMessages" ng-show="showHistory">
      <p><span class="bold">From: </span>{{msg.from}}</p>
      <p><span class="bold">To: </span>{{msg.to}}</p>
      <p><span class="bold">Sent: </span>{{msg.date}} at {{msg.time}}</p>
      <p ng-bind-html="msg.message"></p>
      <hr class="subtle">
    </div>
    <button class="rex-button pull-right" ng-click="toggleReply()" ng-show="!showReply">Reply</button>
    <div class="reply-form" ng-show="showReply">
      <textarea placeholder="Begin typing message here..." ng-model="replyTxt"></textarea>
      <div class="button-group pull-right">
        <button class="cancel" ng-click="toggleReply()">Cancel</button>
        <button class="send rex-button" ng-click="replyMsg()">Send</button>
      </div>
    </div>
  </section>
</div>
