.inbox-msg {
  hr{
    border-top: 1px solid $dark-blue;
  }
  
  .comment{
    margin: 30px 0 30px 0;
  }
  
  .rex-button{
    width: 200px;
  }
  
  .convo-history{
    margin-top: 20px;
    outline: none;
  }
  
  .reply-form{
    textarea{
      width: 100%;
      min-height: 125px;
      margin-bottom: 20px;
    }
    .cancel{
      border: none;
      background: transparent;
      min-width: 125px;
    }
    .send{
      max-width: 125px;
    }
  }
}
