<div>
  <section class="inbox-msg">
    <h3>{{messages[num].child}} - {{messages[num].eventType}}</h3>
    <p><span class="bold">From: </span>{{messages[num].from}}</p>
    <p><span class="bold">Sent: </span>{{messages[num].dateCreated}}</p>
    <hr>
    <p ng-bind-html="messages[num].message"></p>
    <p class="convo-history"><span class="bold">Show conversation history </span><i class="glyphicon glyphicon-chevron-down"></i></p>
    <hr>
    </div>
    <button class="rex-button pull-right">Reply</button>
  </section>
</div>
