.facility-search {

  .angular-google-map-container {
    height: 400px;
  }
  .locationList{
    height: 400px;
    overflow: scroll;
  }

  ui-gmap-markers{
    &.active {
      width: 40px;
      height: 40px;
    }
  }

  .card{
    // background-color: $blue;
  }

  .evenBackground{
    background-color: $lightGray;
    h2{
      color: $fontGray;
    }
  }

  .oddBackground{
    background-color: $gray;
  }

}
