.facility-search {

  .angular-google-map-container {
    height: 400px;
  }
  .locationList{
    border: 1px solid black; //colors will be changed based on comps
    height: 400px;
    overflow: scroll;
  }

}
