<div class="facility-search">
  <app-section class="bg-white">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-teal button-pad">Search for Facilities Near You</h2>
        <p>Enter your zip code to find facilities near you.</p>
      </div>
    </div>
  </app-section>

  <app-section class="bg-gray">
    <div class="subHeader row">
      <div class="col-xs-6">
        <h4><span class="bold flex">{{FacilitySearch.facilitiesInZip.length}} facilities</span> in zipcode: {{FacilitySearch.userZip}}</h4>
      </div>
      <div class="col-xs-6 col-sm-offset-3 col-sm-3">
        <div class="pull-right zipcodeSearch">
          <!-- <button type="button" class="rex-button"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&#32;Filters</button> -->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter 5-digit zipcode" ng-model="FacilitySearch.zipcodeSearch">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" ng-click="FacilitySearch.searchZip()">Search</button>
            </span>
          </div>
      </div>
      </div>
    </div>
  </app-section>

  <app-section class="mapSection">
    <div class="row">
      <div class="col-sm-8 col-sm-push-4 right-panel">
        <ui-gmap-google-map center="FacilitySearch.map.center" zoom="FacilitySearch.map.zoom"  ng-if="FacilitySearch.showMap">
          <ui-gmap-markers idkey="FacilitySearch.markers.id" models="FacilitySearch.markers" coords="'markerCoords'" events="FacilitySearch.map.markersEvents"></ui-gmap-markers>
          <ui-gmap-window show="FacilitySearch.map.window.show" coords="FacilitySearch.map.window.model.markerCoords" options="FacilitySearch.map.window.options" closeclick="FacilitySearch.map.window.closeClick()">
             <div>
               <div class="list-card list-card-custom">
                 <p class="title"><span class="bold">{{FacilitySearch.map.window.model.facilityName}}<span><p>
                 <p><span class="bold">{{FacilitySearch.map.window.model.facilityType}}</span></p>
                 <p class="body">{{FacilitySearch.map.window.model.facilityAddress}}</p>
                 <p>{{FacilitySearch.map.window.model.facilityAddress2}}</p>
                 <p class="phone">{{FacilitySearch.map.window.model.facilityPhone}}</p>
                 <p>{{FacilitySearch.map.window.model.facilityCapacity}} capacity</p>
                 <p><span class="bold">More Information...</span></p>
               </div>
             </div>
          </ui-gmap-window>

        </ui-gmap-google-map>
      </div>
      <div class="col-sm-4 col-sm-pull-8  card-list">
        <div class="card-wrapper" ng-repeat="facility in FacilitySearch.facilitiesInZip track by $index" ng-click="FacilitySearch.getIndex($index)">
          <list-card facility="facility"></list-card>
        </div>
      </div>
    </div>
  </app-section>
</div>
