.my-family {
  h3{
    font-size: 1.75em;
    font-weight: 300;
    color: $blue;
  }

  .tab-section {
    padding-top: 0;
    margin-top: -15px;
  }

  .tab-sub-section {
    border-top: solid 1px $gray;
    padding: 20px 0;
    .col-sm-6 > div, .col-sm-5 > div  {
      margin-bottom: 10px;
    }

    .col-sm-6 input{
      // width: 80%;
      // display: inline-block;
    }
  }

  @media #{$lessThanTablet} {
    h2{
      display: none;
    }
  }
}
