<app-section ng-hide="!user.data" class="user-header hidden-xs" role="banner" ng-class="{'logged-in': user.data}">
  <section>
    <div class="user">
      <span class="username hidden-xs">Welcome {{user.data.nickName}}!</span>
      <a class="logout" ui-sref="main.userProfile">Logout</a>
    </div>
  </section>
</app-section>
<app-section class="bg-white" role="banner">
  <section class="app-header" ng-class="{'logged-in': user.data}">
    <a tabindex="0" class="icon-logo-Rex" ui-sref="{{homeRoute}}" title="CaliCares" alt="CaliCares">
      <span class="sr-only">Return to the Main Page</span>
    </a>
    <div class="nav-wrapper">
      <h2 class="text-teal button-pad visible-xs">{{mobileNavHeader}}</h2>
      <div class="nav-pages">
        <a class="nav-button" ui-sref="main.myFamily" ui-sref-active="active">
          <div class="nav-icon family"></div>
          <span class="nav-name">My Profile</span>
        </a>
        <a class="nav-button" ui-sref="main.inbox" ui-sref-active="active">
          <div class="nav-icon inbox"></div>
          <span class="nav-name">Inbox</span>
        </a>
        <a class="nav-button" ui-sref="main.facilities" ui-sref-active="active">
          <div class="nav-icon facilities"></div>
          <span class="nav-name">Facilities Near You</span>
        </a>
        <!-- <a class="nav-button" ui-sref="main.help" ui-sref-active="active">
          <div class="nav-icon help"></div>
          <span class="nav-name">Help</span>
        </a> -->
      </div>
      <button ng-hide="!user.data" class="visible-xs pull-right hamburger-button" ng-click="openLeftMenu()" aria-label="Open Menu">
        <div class="icon-hamburger-menu"></div>
        <!-- <span class="glyphicon glyphicon-menu-hamburger"></span> -->
      </button>
    </div>
  </section>
</app-section>
