<app-section class="bar">
  <section>
    <div class="col-xs-6 col-sm-2">
      <p>Sorted by Date</p>
    </div>
    <div class="col-xs-6 col-sm-2">
      <!--Commented until functionality is added
      <p class="pull-right"> New Event</p>-->
    </div>
    <div class="col-sm-8 hidden-xs">
      <!--Commented until functionality is added
      <input class="pull-right" type="text" placeholder="Search messages"/>-->
    </div>
  </section>
</app-section>
<app-section>
  <section class="inbox">
    <div class="col-sm-4">
      <div class="card-wrapper" ng-repeat="msg in inbox.msgs track by $index" ng-class="{'active': inbox.selected == $index}" ng-click="inbox.selectMsg($index)">
        <msg-card message="msg"></msg-card> 
      </div>
    </div>
    <div class="col-sm-8 hidden-xs msg-column">
      <inbox-msg messages="inbox.msgs" num="inbox.selected"></inbox-msg>
    </div>  
  </section>
</app-section>
