<section class="list-card list-card-custom">
  <div class="row">
    <div class="col-md-12">
      <p class="title"><span class="bold">{{header}}<span><p>
    </div>
      <div class="col-md-9">
        <p><span class="bold">{{subheader}}</span></p>
        <p class="body">{{body}}</p>
        <p>{{address2}}</p>
        <p class="phone">{{phone}}</p>
      </div>
      <div class="col-md-2 capacityDiv">
        <span class="capacity">{{capacity}}</span>
        <p>capacity</p>
      </div>
    </div>
  </div>
</section>
