<div class="tab-sub-section">
  <h3>Household Information</h3>

  <div class="row">
    <div class="col-sm-6">
      <div><b>Address:&nbsp;</b>
        <input class="form-control rex-input" ng-model="formData.address" type="text"> </div>


      <div><b>Primary Phone:&nbsp;</b><input class="form-control rex-input" ng-model="formData.phone1" type="text"></div>
      <div><b>Primary Email:&nbsp;</b>  <input class="form-control rex-input" ng-model="formData.email1" type="text"> </div>
      <div><b>Alternate Phone:&nbsp;</b>  <input class="form-control rex-input" ng-model="formData.phone2" type="text"></div>
      <div><b>Alternate Email:&nbsp;</b>  <input class="form-control rex-input" ng-model="formData.email2" type="text"></div>
    </div>
    <div class="col-sm-6">
      <div> <b>Type of Home:&nbsp;</b>  <input class="form-control rex-input" ng-model="formData.homeType" type="text"> </div>
      <div><b>Provider Number:&nbsp;</b>  <input class="form-control rex-input" ng-model="formData.providerNum" type="text"> </div>
      <div><b>Insurance:&nbsp;</b>  <input class="form-control rex-input" ng-model="formData.insurance" type="text"> </div>
    </div>
  </div>

</div>
