// Main.scss

md-sidenav {
  background: $darkGray;
  a {
    display: block;
    padding: 25px 0 25px 0;
    margin: 0 20px 0 20px;
    border-top: 1px solid $medGray;
  }
  .removeIcon{
    height: 50px;
    span{
      float: right;
      margin-right: 20px;
      margin-top: 20px;
      outline: none;
    }
  }
  .profile{
    border: none;
  }
  .nav-button.active{
    .nav-name{
      font-weight: bold;
    }
  }
  .nav-name{
    color: $lightGray;
  }
}
