<div class="container-fluid">
  <md-sidenav md-component-id="left" class="md-sidenav-right">
    <div class="removeIcon"><span tabindex="0" class="icon-close" ng-click="MainCtrl.closeMenu()"></span></div>
    <div>
      <a class="nav-button profile" ui-sref="main.myFamily" ui-sref-active="active" ng-click="MainCtrl.closeMenu()">
        <!-- <div class="nav-icon family"></div> -->
        <span class="nav-name">My Profile</span>
      </a>
      <a class="nav-button" ui-sref="main.inbox" ui-sref-active="active" ng-click="MainCtrl.closeMenu()">
        <!-- <div class="nav-icon inbox"></div> -->
        <span class="nav-name">Inbox</span>
      </a>
      <a class="nav-button" ui-sref="main.facilities" ui-sref-active="active" ng-click="MainCtrl.closeMenu()">
        <!-- <div class="nav-icon facilities"></div> -->
        <span class="nav-name">Facilities Near You</span>
      </a>
      <a class="nav-button" ui-sref="main.userProfile" ui-sref-active="active" ng-click="MainCtrl.closeMenu()">
        <span class="nav-name">Logout</span>
      </a>
    </div>
  </md-sidenav>
  <app-header header-options="AppCtrl.headerOptions" user="MainCtrl.user"></app-header>

  <div class="app-root" role="main" ui-view></div>

  <app-footer></app-footer>

  <div class="loader overlay" ng-show="loading" role="status" autoscroll><span class="sr-only">Loading</span></div>
</div>
