.list-card {
  color: $darkGray;
  padding: 10px 27px 10px 27px;
  
  .title{
    color: $dark-blue;
  }
}

.card-wrapper{
  background-color: $medGray; //To be updated with proper color
}

.card-wrapper:focus{
  outline: none;
  border-left: 4px solid $teal;
  background-color: $gray;
  section.container{
    padding-left: 11px;
  }
}
