<section class="household-members profile-tab-content">
  <div ng-repeat="member in HouseholdMembers.members">
  <edit-household-members ng-show="HouseholdMembers.memberId === member.member_id" form-data="member" member-id="HouseholdMembers.memberId"></edit-household-members>
  <div class="tab-sub-section" ng-hide="HouseholdMembers.memberId">
    <a class="edit-button pull-right" ng-click="HouseholdMembers.memberId = member.member_id"><span class="edit-button-text">Edit</span><span class="glyphicon glyphicon-pencil"></span></a>

    <h3>{{member.name}} - Head of Household</h3>
    <div class="row">
      <div class="col-sm-6">
        <div><b>Gender:&nbsp;</b>{{member.gender}}</div>
        <div><b>Date of Birth:&nbsp;</b>{{member.birthday}} (Age {{HouseholdMembers.calculateAge(member.birthday)}})</div>
        <div><b>Primary Phone:&nbsp;</b>{{member.mobile}}</div>
        <div><b>Alternate Phone:&nbsp;</b>{{member.workNum}}</div>
        <div><b>Email:&nbsp;</b>{{member.email}}</div>
      </div>
      <div class="col-sm-6">
        <div> <b>Languages:&nbsp;</b>{{member.languages}}</div>
        <div><b>Certifications:&nbsp;</b>{{member.certifications}}</div>
        <div><b>Services:&nbsp;</b>{{member.services}}</div>
        <div><b>Service Start Date:&nbsp;</b>{{member.serviceStartDate}}</div>
      </div>
    </div>
  </div>
</div>
</section>
